page-object-detection {
    canvas, img {
        image-rendering: optimizeQuality;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
    }
    .hide-img {
        display: flex;
        position: absolute;
        visibility: hidden;
    }
}
