<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Image Recognition
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img *ngIf="capturedImg" [src]="capturedImg" />
    <ion-card-content *ngFor="let res of recognizedResults">
      <ion-card-title>
        {{res.title}}
      </ion-card-title>
      <p>
        {{res.confidence | percent}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
    <button full ion-button (tap)="captureImage()">Capture Image</button>
</ion-footer>