<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Image Recognition
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5 *ngIf="!capturedImg">Add Image to Start</h5>
  <ion-card>
    <img *ngIf="capturedImg" [src]="capturedImg" />
    <ion-card-content *ngFor="let res of recognizedResults">
      <ion-card-title>
        {{res.title}}
      </ion-card-title>
      <p>
        {{res.confidence | percent}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <div col-12>
    <div col-5 style="display: inline-block">
      <button full ion-button (tap)="captureImage('CAMERA')">Capture Image</button>
    </div>
    <div col-5 style="display: inline-block">
      <button full ion-button (tap)="captureImage('PHOTOLIBRARY')">Choose Image</button>
    </div>
  </div>
</ion-footer>