<ion-header>
  <ion-navbar>
    <button no-shadows no-border ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Ionic Image Recognition
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5 *ngIf="!capturedImg">Add Image to Start</h5>
  <ion-list no-lines>
    <ion-item>
      <ion-label>Models</ion-label>
      <ion-select (ionChange)="onModelChange($event)" [(ngModel)]="modelType">
        <ion-option [selected]="true" value="inception">Inception (Default)</ion-option>
        <ion-option value="mobilenet">Pre-trained (MobileNet)</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <p *ngIf="modelType == 'mobilenet'" style="color: red">This model type needs Internet connection</p>
  <ion-card>
    <img #imgEl *ngIf="capturedImg" [src]="capturedImg.base64" />
    <ion-card-content *ngFor="let res of recognizedResults">
      <ion-card-title>
        {{modelType == 'mobilenet' ? res.className: res.title}}
      </ion-card-title>
      <p>
        {{(modelType == 'mobilenet' ? res.probability: res.confidence) | percent}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <div col-12>
    <div col-5 style="display: inline-block">
      <button full ion-button (tap)="captureImage('CAMERA')">Capture Image</button>
    </div>
    <div col-5 style="display: inline-block">
      <button full ion-button (tap)="captureImage('PHOTOLIBRARY')">Choose Image</button>
    </div>
  </div>
</ion-footer>